apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app-dep
  namespace: project
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      volumes:
        - name: shared-image
          persistentVolumeClaim:
            claimName: image-claim
      containers:
        - name: todo-app
          image: PROJECT/TODOAPP
          resources:
            requests:
              memory: '50Mi'
              cpu: '3m'
            limits:
              memory: '80Mi'
              cpu: '5m'
          envFrom:
            - configMapRef:
                name: todo-app-configmap
          volumeMounts:
            - name: shared-image
              mountPath: /usr/src/app/images
